<a href="https://colab.research.google.com/github/Bhamini12/CODSOFT/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download stopwords
nltk.download('stopwords')
nltk.download('punkt')

# Load dataset
data = pd.read_csv('Tweets.csv')
print(data)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

                 tweet_id airline_sentiment  airline_sentiment_confidence  \
0      570306133677760513           neutral                        1.0000
1      570301130888122368          positive                        0.3486
2      570301083672813571           neutral                        0.6837
3      570301031407624196          negative                        1.0000
4      570300817074462722          negative                        1.0000
...                   ...               ...                           ...
14635  569587686496825344          positive                        0.3487
14636  569587371693355008          negative                        1.0000
14637  569587242672398336           neutral                        1.0000
14638  569587188687634433          negative                        1.0000
14639  569587140490866689           neutral                        0.6771

               negativereason  negativereason_confidence         airline  \
0                         NaN                        NaN  Virgin America
1                         NaN                     0.0000  Virgin America
2                         NaN                        NaN  Virgin America
3                  Bad Flight                     0.7033  Virgin America
4                  Can't Tell                     1.0000  Virgin America
...                       ...                        ...             ...
14635                     NaN                     0.0000        American
14636  Customer Service Issue                     1.0000        American
14637                     NaN                        NaN        American
14638  Customer Service Issue                     0.6659        American
14639                     NaN                     0.0000        American

      airline_sentiment_gold             name negativereason_gold  \
0                        NaN          cairdin                 NaN
1                        NaN         jnardino                 NaN
2                        NaN       yvonnalynn                 NaN
3                        NaN         jnardino                 NaN
4                        NaN         jnardino                 NaN
...                      ...              ...                 ...
14635                    NaN  KristenReenders                 NaN
14636                    NaN         itsropes                 NaN
14637                    NaN         sanyabun                 NaN
14638                    NaN       SraJackson                 NaN
14639                    NaN        daviddtwu                 NaN

       retweet_count                                               text  \
0                  0                @VirginAmerica What @dhepburn said.
1                  0  @VirginAmerica plus you've added commercials t...
2                  0  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...
...              ...                                                ...
14635              0  @AmericanAir thank you we got on a different f...
14636              0  @AmericanAir leaving over 20 minutes Late Flig...
14637              0  @AmericanAir Please bring American Airlines to...
14638              0  @AmericanAir you have my money, you change my ...
14639              0  @AmericanAir we have 8 ppl so we need 2 know h...

      tweet_coord              tweet_created tweet_location  \
0             NaN  2015-02-24 11:35:52 -0800            NaN
1             NaN  2015-02-24 11:15:59 -0800            NaN
2             NaN  2015-02-24 11:15:48 -0800      Lets Play
3             NaN  2015-02-24 11:15:36 -0800            NaN
4             NaN  2015-02-24 11:14:45 -0800            NaN
...           ...                        ...            ...
14635         NaN  2015-02-22 12:01:01 -0800            NaN
14636         NaN  2015-02-22 11:59:46 -0800          Texas
14637         NaN  2015-02-22 11:59:15 -0800  Nigeria,lagos
14638         NaN  2015-02-22 11:59:02 -0800     New Jersey
14639         NaN  2015-02-22 11:58:51 -0800     dallas, TX

                    user_timezone
0      Eastern Time (US & Canada)
1      Pacific Time (US & Canada)
2      Central Time (US & Canada)
3      Pacific Time (US & Canada)
4      Pacific Time (US & Canada)
...                           ...
14635                         NaN
14636                         NaN
14637                         NaN
14638  Eastern Time (US & Canada)
14639                         NaN

[14640 rows x 15 columns]

In [2]:
data.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [3]:
data.fillna(1, inplace=True)
print(data)

                 tweet_id airline_sentiment  airline_sentiment_confidence  \
0      570306133677760513           neutral                        1.0000
1      570301130888122368          positive                        0.3486
2      570301083672813571           neutral                        0.6837
3      570301031407624196          negative                        1.0000
4      570300817074462722          negative                        1.0000
...                   ...               ...                           ...
14635  569587686496825344          positive                        0.3487
14636  569587371693355008          negative                        1.0000
14637  569587242672398336           neutral                        1.0000
14638  569587188687634433          negative                        1.0000
14639  569587140490866689           neutral                        0.6771

               negativereason  negativereason_confidence         airline  \
0                           1                     1.0000  Virgin America
1                           1                     0.0000  Virgin America
2                           1                     1.0000  Virgin America
3                  Bad Flight                     0.7033  Virgin America
4                  Can't Tell                     1.0000  Virgin America
...                       ...                        ...             ...
14635                       1                     0.0000        American
14636  Customer Service Issue                     1.0000        American
14637                       1                     1.0000        American
14638  Customer Service Issue                     0.6659        American
14639                       1                     0.0000        American

      airline_sentiment_gold             name negativereason_gold  \
0                          1          cairdin                   1
1                          1         jnardino                   1
2                          1       yvonnalynn                   1
3                          1         jnardino                   1
4                          1         jnardino                   1
...                      ...              ...                 ...
14635                      1  KristenReenders                   1
14636                      1         itsropes                   1
14637                      1         sanyabun                   1
14638                      1       SraJackson                   1
14639                      1        daviddtwu                   1

       retweet_count                                               text  \
0                  0                @VirginAmerica What @dhepburn said.
1                  0  @VirginAmerica plus you've added commercials t...
2                  0  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...
...              ...                                                ...
14635              0  @AmericanAir thank you we got on a different f...
14636              0  @AmericanAir leaving over 20 minutes Late Flig...
14637              0  @AmericanAir Please bring American Airlines to...
14638              0  @AmericanAir you have my money, you change my ...
14639              0  @AmericanAir we have 8 ppl so we need 2 know h...

      tweet_coord              tweet_created tweet_location  \
0               1  2015-02-24 11:35:52 -0800              1
1               1  2015-02-24 11:15:59 -0800              1
2               1  2015-02-24 11:15:48 -0800      Lets Play
3               1  2015-02-24 11:15:36 -0800              1
4               1  2015-02-24 11:14:45 -0800              1
...           ...                        ...            ...
14635           1  2015-02-22 12:01:01 -0800              1
14636           1  2015-02-22 11:59:46 -0800          Texas
14637           1  2015-02-22 11:59:15 -0800  Nigeria,lagos
14638           1  2015-02-22 11:59:02 -0800     New Jersey
14639           1  2015-02-22 11:58:51 -0800     dallas, TX

                    user_timezone
0      Eastern Time (US & Canada)
1      Pacific Time (US & Canada)
2      Central Time (US & Canada)
3      Pacific Time (US & Canada)
4      Pacific Time (US & Canada)
...                           ...
14635                           1
14636                           1
14637                           1
14638  Eastern Time (US & Canada)
14639                           1

[14640 rows x 15 columns]

In [4]:
data.isnull().sum()

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
negativereason                  0
negativereason_confidence       0
airline                         0
airline_sentiment_gold          0
name                            0
negativereason_gold             0
retweet_count                   0
text                            0
tweet_coord                     0
tweet_created                   0
tweet_location                  0
user_timezone                   0
dtype: int64

In [5]:
# Function to clean text
def clean_text(text):
    try:
        text = re.sub(r'http\S+', '', text)  # Remove URLs
        text = re.sub(r'[^A-Za-z0-9\s]', '', text)  # Remove special characters
        text = text.lower()  # Convert to lowercase
        tokens = word_tokenize(text)  # Tokenize text
        tokens = [word for word in tokens if word not in stopwords.words('english')]  # Remove stopwords
        return ' '.join(tokens)
    except Exception as e:
        print(f"Error cleaning text: {e}")
        return ''

# Apply cleaning function to text column
data['cleaned_text'] = data['text'].apply(clean_text)

# Map sentiment labels to text
data['sentiment'] = data['airline_sentiment']

# Print the first few rows of the dataframe to ensure it is loaded correctly
print(data.head())

             tweet_id airline_sentiment  airline_sentiment_confidence  \
0  570306133677760513           neutral                        1.0000
1  570301130888122368          positive                        0.3486
2  570301083672813571           neutral                        0.6837
3  570301031407624196          negative                        1.0000
4  570300817074462722          negative                        1.0000

  negativereason  negativereason_confidence         airline  \
0              1                     1.0000  Virgin America
1              1                     0.0000  Virgin America
2              1                     1.0000  Virgin America
3     Bad Flight                     0.7033  Virgin America
4     Can't Tell                     1.0000  Virgin America

  airline_sentiment_gold        name negativereason_gold  retweet_count  \
0                      1     cairdin                   1              0
1                      1    jnardino                   1              0
2                      1  yvonnalynn                   1              0
3                      1    jnardino                   1              0
4                      1    jnardino                   1              0

                                                text tweet_coord  \
0                @VirginAmerica What @dhepburn said.           1
1  @VirginAmerica plus you've added commercials t...           1
2  @VirginAmerica I didn't today... Must mean I n...           1
3  @VirginAmerica it's really aggressive to blast...           1
4  @VirginAmerica and it's a really big bad thing...           1

               tweet_created tweet_location               user_timezone  \
0  2015-02-24 11:35:52 -0800              1  Eastern Time (US & Canada)
1  2015-02-24 11:15:59 -0800              1  Pacific Time (US & Canada)
2  2015-02-24 11:15:48 -0800      Lets Play  Central Time (US & Canada)
3  2015-02-24 11:15:36 -0800              1  Pacific Time (US & Canada)
4  2015-02-24 11:14:45 -0800              1  Pacific Time (US & Canada)

                                        cleaned_text sentiment
0                        virginamerica dhepburn said   neutral
1  virginamerica plus youve added commercials exp...  positive
2  virginamerica didnt today must mean need take ...   neutral
3  virginamerica really aggressive blast obnoxiou...  negative
4                 virginamerica really big bad thing  negative

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Initialize TF-IDF Vectorizer
tfidf = TfidfVectorizer(max_features=5000)

# Transform cleaned text data into TF-IDF features
X = tfidf.fit_transform(data['cleaned_text'])

# Labels
y = data['sentiment']
print(y)
print(X)

0         neutral
1        positive
2         neutral
3        negative
4        negative
           ...
14635    positive
14636    negative
14637     neutral
14638    negative
14639     neutral
Name: sentiment, Length: 14640, dtype: object
  (0, 3963)	0.7804492509619093
  (0, 4751)	0.6252191349223044
  (1, 1714)	0.3262309797813148
  (1, 1105)	0.5323402481238068
  (1, 419)	0.4646953490459327
  (1, 4983)	0.40214203034688395
  (1, 3453)	0.4010894741072435
  (1, 4751)	0.2676835105536888
  (2, 4592)	0.3295624862425526
  (2, 530)	0.3124522610639693
  (2, 4410)	0.3133947144593962
  (2, 3054)	0.2691746797432603
  (2, 2861)	0.4099714098515178
  (2, 3020)	0.43755783507719914
  (2, 4527)	0.28784200187819176
  (2, 1409)	0.3271491867245501
  (2, 4751)	0.2714366824856235
  (3, 3715)	0.40047867672875
  (3, 2708)	0.28999218703262364
  (3, 511)	0.19251940029646653
  (3, 1754)	0.4189313382633334
  (3, 2114)	0.40877610580637036
  (3, 1615)	0.33374587756803836
  (3, 449)	0.4189313382633334
  (3, 3693)	0.22320793522309307
  :	:
  (14637, 465)	0.4674934316686232
  (14637, 3445)	0.3628504835063551
  (14638, 4360)	0.42455054806846776
  (14638, 1106)	0.46943700207186123
  (14638, 3393)	0.3886383646464884
  (14638, 2816)	0.2644970041802674
  (14638, 505)	0.14135649324431734
  (14638, 2974)	0.32957363518782135
  (14638, 531)	0.32137254979993324
  (14638, 971)	0.2661233358405733
  (14638, 1481)	0.23987455091476648
  (14638, 1892)	0.13470376576577922
  (14639, 3618)	0.261743019404088
  (14639, 3492)	0.33200595391975074
  (14639, 505)	0.12075801478070686
  (14639, 4275)	0.30983219907811343
  (14639, 2832)	0.2754173356778589
  (14639, 3353)	0.23058886254096939
  (14639, 4705)	0.19143111483028896
  (14639, 3454)	0.3384140759280187
  (14639, 3081)	0.4780917448884882
  (14639, 2594)	0.21930659194383748
  (14639, 4038)	0.24670311883994983
  (14639, 1892)	0.23014944646718263
  (14639, 3054)	0.19997490704948667

In [7]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the SVM model
model = LinearSVC()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)
print(y_pred)

['positive' 'negative' 'negative' ... 'negative' 'neutral' 'negative']

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

In [8]:
# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1-score: {f1}')

Accuracy: 0.792691256830601
Precision: 0.7834889991370092
Recall: 0.792691256830601
F1-score: 0.7860062377433323